
	    <aside>
	    	<h3>归档</h3>
	    	<ul>
	    		<li><a href="">2012年02月</a></li>
	    		<li><a href="">2012年02月</a></li>
	    		<li><a href="">2012年02月</a></li>
	    		<li><a href="">2012年02月</a></li>
				<li><a href="">2012年02月</a></li>
				<li><a href="">2012年02月</a></li>
    	        <li><a href="">2012年02月</a></li>
	    	</ul>
	    	<div class="loginNow">
	    		立即登录
	    	</div>
	    </aside>
		<div class="content">
									
		</div>									
	</div>
