
	    <aside>
	    	<h3>归档</h3>
	    	<ul>
	    		<li><a href="">2012年02月</a></li>
	    		<li><a href="">2012年02月</a></li>
	    		<li><a href="">2012年02月</a></li>
	    		<li><a href="">2012年02月</a></li>
				<li><a href="">2012年02月</a></li>
				<li><a href="">2012年02月</a></li>
    	        <li><a href="">2012年02月</a></li>
	    	</ul>
	    	<div class="loginNow">
	    		立即登出
	    	</div>
	    </aside>
		<div class="content">
	        <article>
				<div class="inp-group new">
					<label for="">网站标题：</label>
					<div class="inp">
						<input type="text" placeholder="请输入文章标题">
					</div>
				</div>
				
				<div class="inp-group new">
					<label for="">&nbsp;&nbsp;&nbsp;关键词：</label>
					<div class="inp">
						<input type="text" placeholder="词条过多请用英文逗号分隔">
					</div>
				</div>				
				
				
				<div class="inp-group ta new">
					<label for="">网站描述：</label>
					<div class="textarea">
						<textarea></textarea>
					</div>
				</div>	
				
				<button class="subArt">提交修改</button>
			</article>				    				
		</div>									
