<style>
    h1{
        text-align: center;
    }
    h4{
        text-align: right
    }
</style>
	    <aside>
	    	<h3>归档</h3>
	    	<ul>
	    		<li><a href="">2012年02月</a></li>
	    		<li><a href="">2012年02月</a></li>
	    		<li><a href="">2012年02月</a></li>
	    		<li><a href="">2012年02月</a></li>
				<li><a href="">2012年02月</a></li>
				<li><a href="">2012年02月</a></li>
    	        <li><a href="">2012年02月</a></li>
	    	</ul>

	    	<div class="loginNow">
	    		立即登录
	    	</div>
	    </aside>
		<div class="content">
            <h1>{{list.artTit}}</h1>
            <h4>作者:{{list.artAuthor}}&nbsp;&nbsp;&nbsp;&nbsp; 时间:{{list.artDate}}</h4>
            <p>{{{list.artCount}}}</p>
		</div>
	</div>
